.toy-filter {
    display: grid;
    grid-template-rows: auto;
    row-gap: 0.5em;
    margin-block-end: 2vw;
    padding: 1vw;
    background-color: aliceblue;
}

.toy-filter h2 {
    margin-block-start: 0;
}