.toy-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    list-style: none;
    padding: 0;
}

.toy-list li {
    display: grid;
    grid-template-rows: auto;
    align-content: space-between;
    text-align: center;
    background-color: palegreen;
    border: 4px;
    aspect-ratio: 1/1;
}

.toy-list li > button {
    justify-self: center;
    margin-block-end: 1em;
}