.toy-preview {
    display: grid;
    grid-template-rows: auto;
    align-content: space-between;
    text-align: center;
    background-color: aliceblue;
    border: 4px;
    aspect-ratio: 1/1;
}


.toy-preview h4 {
    margin: .4em 0 0;
}


.toy-preview > :last-child {
    margin: 0 0 .4em;
}