.toy-details {
    padding: 2vw 4vw 4vw;
    background-color: lightslategray;
    text-align: center;
}

.toy-details .details-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 12vw 8vw 15vw;
}

.toy-details .details-side {
    display: grid;
    grid-auto-rows: auto;
    align-items: end;
    align-self: center;
    padding: 1em;
    height: 150%;
    background-color: lightcoral;
    border-radius: 2rem;
    box-shadow: 0px -2px 5px inset crimson;
    
}

.toy-details img {
    width: 25vw;
}

.details-categories {
    align-self: baseline;
    color: black;
    font-size: x-large;
    font-weight: 600;
}

.toy-details form {
    display: grid;
    grid-auto-columns: auto;
    gap: 12px;
    align-items: start;
}

.toy-details form > button {
    margin-block-start: 1em;
}

.toy-details .nav-buttons {
    display: flex;
    justify-content: center;
    gap: 2em;
}